/* HomePage.css */
.home {
   font-weight: 300;
   max-width: 950px;
   margin: 0 auto;
   padding-top: 30px;
}

.introduction {
   font-size: 1.52em;
   margin-top: 19px;
   margin-bottom: 23.75px;
   padding: 19px;
   border-radius: 5px;
   text-align: center;
   color: rgb(75, 64, 64);
}
.contact-section {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 38px;
   border-radius: 10px;
   margin-top: 38px;
   flex-wrap: wrap;
}
.contact-text {
   font-size: 22.8px;
   font-weight: bold;
   text-align: center;
   margin: 19px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   flex-basis: 100%;
   padding-top: 47.5px;
   padding-bottom: 0;
}
.contact-section .contact-text,
.contact-section .contact-info {
   margin-left: 20px;
}
.contact-section .editor-image {
   margin-right: 20px;
}
.editor-image {
   max-width: 400px;
   margin: 19px;
   border-radius: 15px;
}

eviews-section {
   margin-top: 28.5px;
   text-align: center;
}

body,
html {
   font-family: "Arial", sans-serif;
   color: #333;
}
.section {
   margin-bottom: 20px;
   padding: 15px;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

.widgets-container {
   overflow-x: auto;
   white-space: nowrap;
   scrollbar-width: thin;
   scrollbar-color: #888 #f2f2f2;
}
.widgets-container::-webkit-scrollbar {
   height: 8px;
}
.widgets-container::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 4px;
}
.explore-services-btn {
   background-color: #ff5733;
   color: #ffffff;
   padding: 11.4px 20px;
   border: none;
   border-radius: 5px;
   font-size: 1.0450000000000002em;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s;
}
.explore-services-btn:hover {
   background-color: #e64d29;
   transform: scale(1.05);
}

.contact-section {
   padding: 47.5px 0;
   color: black;
}
.contact-header {
   font-size: 1.235em;
   margin-bottom: 19px;
}
.contact-description {
   max-width: 600px;
   margin: 0 auto;
   font-size: 0.95em;
}

.contact-section {
   max-width: 900px;
   margin: 45.6px auto;
   padding: 0 8px;
   justify-content: center;

   text-align: center;
}
.slick-dots li button:before,
.slick-prev:before,
.slick-next:before {
   color: #ff5733;
}
.testimonial-container {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 20px auto;
   padding: 20px;
   width: 80%;
   background: #fff;
   border-radius: 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.avatar {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #ccc;
   margin-bottom: 20px;
   display: block;
}
.slick-slider .slick-list {
   margin: 0 20px;
}

.buddies {
   align-items: left;
}

.logos-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px;
   flex-wrap: wrap;
   padding: 10px;
}

.logos-section .logo {
   margin: 0 15px;
   width: 100px;
   height: auto;
   transition: transform 0.3s ease-in-out;
}

.logos-section .logo:hover {
   transform: scale(1.1);
}

@media (max-width: 768px) {
   .logos-section {
   }

   .logos-section .logo {
      margin: 10px;
   }
}
@media only screen and (max-width: 600px) {
   .services-list ul {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width: 768px) {
   .contact-section {
      flex-direction: column;
   }
   .contact-section .contact-text,
   .contact-section .contact-info,
   .contact-section .editor-image {
      margin: 10px 0;
   }
}

@media only screen and (max-width: 768px) {
   .editor-image {
      width: 80%;
      flex-basis: 80%;
      margin: 0 auto;
   }
}
