.home {
   font-weight: 300;
   max-width: 950px;
   margin: 0 auto;
}

.introduction {
   font-size: 1.52em;
   margin-top: 19px;
   margin-bottom: 23.75px;
   padding: 19px;
   border-radius: 5px;
   text-align: center;
   color: rgb(75, 64, 64);
}
.contact-section {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 38px;
   border-radius: 10px;
   margin-top: 38px;
   flex-wrap: wrap;
}
.contact-text {
   font-size: 22.8px;
   font-weight: bold;
   text-align: center;
   margin: 19px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   flex-basis: 100%;
   padding-top: 47.5px;
   padding-bottom: 0;
}
.contact-section .contact-text,
.contact-section .contact-info {
   margin-left: 20px;
}
.contact-section .editor-image {
   margin-right: 20px;
}
.editor-image {
   max-width: 400px;
   margin: 19px;
   border-radius: 15px;
}

eviews-section {
   margin-top: 28.5px;
   text-align: center;
}

.services-list ul li {
   min-width: 250px;
   /* Adjust the value as needed to prevent text wrapping */
   display: block;
   text-align: center;
   /* Center text within li */
}
.services-overview h2 {
   font-weight: bold;
   margin-bottom: 19px;
   text-align: left;
   /* Align to the left on all screens */
   margin-left: 20px;
   /* Provide some space from the left edge */
}

.services-overview {
   display: flex;
   flex-wrap: wrap;

   flex-direction: column;
   justify-content: center;
   overflow: auto;
   margin-top: 38px;
   padding: 19px;
   border-radius: 5px;
}

.services-overview ul {
   list-style-type: disc;
   margin-left: 38px;
}

.services-container {
   display: flex;
   /* align-items: start; */
}
.explore-services-btn,
.services-overview-image {
   margin-left: auto;
}

.services-overview-image {
   max-width: 50%;
   height: auto;
   border-radius: 15px;
}

.services-list {
   flex: 1;
   /* max-width: 50%;
*/
}

.service-card {
   background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 19px;
   border-radius: 8px;
   max-width: 250px;
   margin: 0 auto;
   transition: transform 0.3s;
}
.service-card:hover {
   transform: translateY(-10px);
}
.service-title {
   font-size: 1.235em;
   color: #686868;
   margin-bottom: 9.5px;
}
.service-description {
   font-size: 0.95em;
   color: #686868;
}

body,
html {
   font-family: "Arial", sans-serif;
   color: #333;
}
.section {
   margin-bottom: 20px;
   padding: 15px;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

.services-overview ul li {
   float: left;
   width: 48%;
   font-size: 1.06em;
   font-weight: bold;
   padding: 9.5px 15px;
   margin-bottom: 9.5px;
   border-radius: 5px;
   transition: background-color 0.3s, transform 0.3s;
}
.services-overview ul li:hover {
   background-color: #e6e6e6;
   transform: scale(1.05);
}
.widgets-container {
   overflow-x: auto;
   white-space: nowrap;
   scrollbar-width: thin;
   scrollbar-color: #888 #f2f2f2;
}
.widgets-container::-webkit-scrollbar {
   height: 8px;
}
.widgets-container::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 4px;
}
.explore-services-btn {
   background-color: #ff5733;
   color: #ffffff;
   padding: 11.4px 20px;
   border: none;
   border-radius: 5px;
   font-size: 1.0450000000000002em;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s;
}
.explore-services-btn:hover {
   background-color: #e64d29;
   transform: scale(1.05);
}

.contact-section {
   padding: 47.5px 0;
   color: black;
}
.contact-header {
   font-size: 1.235em;
   margin-bottom: 19px;
}
.contact-description {
   max-width: 600px;
   margin: 0 auto;
   font-size: 0.95em;
}

.services-overview,
.contact-section {
   max-width: 900px;
   margin: 45.6px auto;
   padding: 0 8px;
   justify-content: center;
   /* align-items: center; */
   text-align: center;
}
.slick-dots li button:before,
.slick-prev:before,
.slick-next:before {
   color: #ff5733;
}
.testimonial-container {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 20px auto;
   padding: 20px;
   width: 80%;
   background: #fff;
   border-radius: 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.avatar {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #ccc;
   margin-bottom: 20px;
   display: block;
}
.slick-slider .slick-list {
   margin: 0 20px;
}

.explore-services-btn-container {
   flex: 1;
   max-width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.explore-services-btn-container button {
   order: -1;
   margin-bottom: 10px;
}
.services-list ul {
   list-style-type: none;
}
.explore-services-btn-container {
   flex: 1 0 40%;
   margin-top: 20px;
}
.explore-services-btn-container button,
.explore-services-btn-container img {
   width: 100%;
   max-width: 250px;
   align-self: center;
}
.services-overview {
   justify-content: space-around;
}
.explore-services-btn-container {
   justify-content: center;
}
.explore-services-btn-container button,
.explore-services-btn-container img {
   align-self: center;
   margin-top: 20px;
   margin-bottom: 20px;
   width: auto;
   max-width: 100%;
}
.explore-services-btn-container button,
.explore-services-btn-container img {
   margin-top: 20px;
   margin-bottom: 20px;
   max-width: 100%;
}

.collaborators-section {
   /* text-align: center; */
   padding: 20px;
}

.collaborators-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.collaborator {
   margin: 10px;
   padding: 10px;
   background-color: #ffffff; /* Example background color */
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collaborator img {
   width: 150px; /* Example width, adjust as needed */
   height: 150px; /* Example height, adjust as needed */
   border-radius: 50%;
   margin-bottom: 10px;
}

.collaborator p {
   margin: 0;
   font-weight: bold;
}

.buddies {
   align-items: left;
}

/* Add this to your HomePage.css file */

.logos-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px; /* Adjust the margin as needed */
   flex-wrap: wrap; /* Allows logos to wrap to next line on small screens */
}

.logos-section .logo {
   margin: 0 15px; /* Spacing between logos */
   width: 100px; /* Adjust width as needed */
   height: auto; /* Maintain aspect ratio */
   transition: transform 0.3s ease-in-out;
}

.logos-section .logo:hover {
   transform: scale(1.1); /* Slight zoom on hover */
}

/* Remove the column direction for smaller screens */
@media (max-width: 768px) {
   .logos-section {
      /* Removed the flex-direction: column; */
   }

   .logos-section .logo {
      margin: 10px; /* Adjust margin for smaller screens */
   }
}
@media only screen and (max-width: 600px) {
   .services-list ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Center ul within its container */
   }
}

@media (max-width: 768px) {
   .contact-section {
      flex-direction: column;
   }
   .contact-section .contact-text,
   .contact-section .contact-info,
   .contact-section .editor-image {
      margin: 10px 0;
   }
}
@media (min-width: 992px) {
   .explore-services-btn-container button,
   .explore-services-btn-container img {
      max-width: 300px;
   }
}

@media (min-width: 992px) {
   .explore-services-btn-container button,
   .explore-services-btn-container img {
      max-width: 350px;
   }
}

@media only screen and (max-width: 768px) {
   .editor-image {
      width: 80%;
      flex-basis: 80%;
      margin: 0 auto;
   }
}

@media (max-width: 768px) {
   .services-list,
   .explore-services-btn-container {
      max-width: 100%;
   }
}
@media (max-width: 768px) {
   .services-container {
      flex-direction: column;
   }
   .services-list,
   .explore-services-btn,
   .services-overview-image {
      flex: none;
      max-width: 100%;
      margin-left: 0;
   }
   .services-overview-image {
      max-width: 100%;
      margin-top: 10px;
   }
}
@media (max-width: 480px) {
   .services-overview-image {
      max-width: 100%;
   }
}
@media (max-width: 768px) {
   .services-overview {
      padding: 10px;
      margin-top: 20px;
   }
   .services-overview h2 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      margin-top: 50px;
   }
}
@media (max-width: 576px) {
   .services-overview {
      padding: 5px;
      margin-top: 10px;
      flex-direction: column;
   }
   .services-overview h2 {
      margin-bottom: 5px;
      font-size: 1.2rem;
   }

   .services-overview-image {
      width: 100%;
      height: auto;
   }
}

/* Media query for smaller screens to center .services-list */
@media (max-width: 768px) {
   .services-list {
      text-align: center;
      /* Centers the text of the list items */
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Centers the flex items */
      list-style: none;
      /* Removes the default list styling if needed */
      padding: 0;
      /* Removes default padding */
   }
   .services-list li {
      display: block;
      /* Makes each list item a block to respond to text-align */
   }
}
@media only screen and (max-width: 768px) {
   .services-list ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 38px;
      /* Center ul within its container */
   }
}
