.home {
   font-weight: 300;
   max-width: 950px;
   margin: 0 auto;
}

.introduction {
   font-size: 1.52em;
   margin-top: 19px;
   margin-bottom: 23.75px;
   padding: 19px;
   border-radius: 5px;
   text-align: center;
   color: rgb(75, 64, 64);
}
.contact-section {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 38px;
   border-radius: 10px;
   margin-top: 38px;
   flex-wrap: wrap;
}
.contact-text {
   font-size: 22.8px;
   font-weight: bold;
   text-align: center;
   margin: 19px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   flex-basis: 100%;
   padding-top: 47.5px;
   padding-bottom: 0;
}
.contact-section .contact-text,
.contact-section .contact-info {
   margin-left: 20px;
}
.contact-section .editor-image {
   margin-right: 20px;
}
.editor-image {
   max-width: 400px;
   margin: 19px;
   border-radius: 15px;
}

eviews-section {
   margin-top: 28.5px;
   text-align: center;
}

body,
html {
   font-family: "Arial", sans-serif;
   color: #333;
}
.section {
   margin-bottom: 20px;
   padding: 15px;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

.widgets-container {
   overflow-x: auto;
   white-space: nowrap;
   scrollbar-width: thin;
   scrollbar-color: #888 #f2f2f2;
}
.widgets-container::-webkit-scrollbar {
   height: 8px;
}
.widgets-container::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 4px;
}
.explore-services-btn {
   background-color: #ff5733;
   color: #ffffff;
   padding: 11.4px 20px;
   border: none;
   border-radius: 5px;
   font-size: 1.0450000000000002em;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s;
}
.explore-services-btn:hover {
   background-color: #e64d29;
   transform: scale(1.05);
}

.contact-section {
   padding: 47.5px 0;
   color: black;
}
.contact-header {
   font-size: 1.235em;
   margin-bottom: 19px;
}
.contact-description {
   max-width: 600px;
   margin: 0 auto;
   font-size: 0.95em;
}

.contact-section {
   max-width: 900px;
   margin: 45.6px auto;
   padding: 0 8px;
   justify-content: center;
   /* align-items: center; */
   text-align: center;
}
.slick-dots li button:before,
.slick-prev:before,
.slick-next:before {
   color: #ff5733;
}
.testimonial-container {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 20px auto;
   padding: 20px;
   width: 80%;
   background: #fff;
   border-radius: 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.avatar {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #ccc;
   margin-bottom: 20px;
   display: block;
}
.slick-slider .slick-list {
   margin: 0 20px;
}

.collaborators-section {
   /* text-align: center; */
   padding: 20px;
}

.collaborators-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.collaborator {
   margin: 10px;
   padding: 10px;
   background-color: #ffffff; /* Example background color */
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collaborator img {
   width: 150px; /* Example width, adjust as needed */
   height: 150px; /* Example height, adjust as needed */
   border-radius: 50%;
   margin-bottom: 10px;
}

.collaborator p {
   margin: 0;
   font-weight: bold;
}

.buddies {
   align-items: left;
}

/* Add this to your HomePage.css file */

.logos-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px; /* Adjust the margin as needed */
   flex-wrap: wrap; /* Allows logos to wrap to next line on small screens */
   padding: 20px 10px 50px 10px;
}

.logos-section .logo {
   margin: 0 15px; /* Spacing between logos */
   width: 100px; /* Adjust width as needed */
   height: auto; /* Maintain aspect ratio */
   transition: transform 0.3s ease-in-out;
}

.logos-section .logo:hover {
   transform: scale(1.1); /* Slight zoom on hover */
}

/* Remove the column direction for smaller screens */
@media (max-width: 768px) {
   .logos-section {
      /* Removed the flex-direction: column; */
   }

   .logos-section .logo {
      margin: 10px; /* Adjust margin for smaller screens */
   }
}
@media only screen and (max-width: 600px) {
   .services-list ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Center ul within its container */
   }
}

@media (max-width: 768px) {
   .contact-section {
      flex-direction: column;
   }
   .contact-section .contact-text,
   .contact-section .contact-info,
   .contact-section .editor-image {
      margin: 10px 0;
   }
}

@media only screen and (max-width: 768px) {
   .editor-image {
      width: 80%;
      flex-basis: 80%;
      margin: 0 auto;
   }
}

.services-overview {
   display: flex;
   flex-direction: column;
   padding: 40px 40px 0px 40px;
   color: #333;
   max-width: 950px;
   margin: 0 auto;
}

.services-overview h2 {
   font-size: 1.5em;
   margin-bottom: 30px; /* Provide some space between the header and the content */
}

.services-content-wrapper {
   display: flex;
   flex-wrap: wrap; /* Allow items to wrap onto the next line */
   gap: 20px; /* Space between the services and the image */
   align-items: flex-start; /* Align children at the top */
}

.services-container {
   display: flex;
   flex-direction: column;
   flex: 1 0 auto; /* Do not allow the services container to shrink */
}

.service {
   display: flex;
   align-items: center; /* Vertically center the icon and text block */
   color: #000;
   padding: 5px; /* Keep the padding compact */
   width: 100%; /* Take up full width */
   position: relative; /* For absolute positioning of the button */
   overflow: hidden;
   transition: all 0.3s ease;
}

.service-icon {
   font-size: 18px; /* Icon size */
   margin-right: 0.5rem; /* Space between icon and text */
}

.service-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.service h3 {
   font-size: 18px; /* Increased heading size */
   margin: 0; /* Remove margin to control spacing */
}

.service p {
   font-size: 14px; /* Increased paragraph text size */
   margin: 4px 0; /* Controlled margin for spacing */
}

.learn-more-btn {
   opacity: 0;
   visibility: hidden;
   position: static;
   padding: 8px 16px;
   border: none;
   border-radius: 15px;
   background-color: #fff; /* Assuming a background color for the button */
   color: #000;
   cursor: pointer;
   transition: opacity 0.3s ease, visibility 0.3s ease;
}

.service:hover .learn-more-btn {
   opacity: 1;
   visibility: visible;
}

.services-image-container {
   text-align: center; /* Center the image on smaller screens */
   width: 100%; /* Full width on smaller screens */
   order: -1; /* Make the image appear first on smaller screens */
}

.services-image {
   width: 100%; /* Make the image responsive */
   height: auto; /* Maintain the aspect ratio */
}

/* Media query for tablet and desktop sizes */
@media (min-width: 768px) {
   .services-content-wrapper {
      flex-wrap: nowrap; /* Do not wrap items */
   }

   .services-container {
      flex: 1; /* Allow the services container to grow if there is space */
   }

   .services-image-container {
      width: 300px; /* Fixed width for larger screens */
      order: 0; /* Reset the order so the image appears to the side */
      text-align: unset; /* Reset text alignment for larger screens */
   }
}
