/* General Styles */

.services {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   padding: 40px 20px 20px;
   text-align: center;
   max-width: 95%; /* Allow some margin on larger screens but be responsive */
}

.service-item {
   margin-bottom: 2.5rem; /* Use relative units */
   padding: 2rem;
   border-radius: 10px;
   transition: box-shadow 0.3s ease, transform 0.2s ease;
   display: flex;
   flex-direction: column; /* Start with mobile-first approach */
   align-items: center; /* Center items for mobile */
   width: 100%; /* Full width on mobile */
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Hover effects should remain the same, they do not affect responsiveness */
.service-item:hover {
   transform: translateY(-5px);
}

.icon {
   width: 60px;
   height: 60px;
   margin-right: 1.875rem; /* Use relative units */
}

.icon img {
   width: 100%;
   height: auto;
}

.service-content {
   flex: 1;
}

.service-item h2 {
   font-size: 1.8em;
   margin-bottom: 1.25rem;
   color: #333;
}

.service-item p {
   font-size: 1.2em;
   color: #555;
   margin-bottom: 1.25rem;
}

.quote-btn {
   display: inline-block;
   margin-top: 1rem; /* Spacing above the button */
   padding: 10px 20px; /* Padding inside the button */
   font-size: 1em; /* Font size for the text inside the button */
   color: #fff; /* Text color */
   background-color: #007bff; /* Background color */
   border-radius: 5px; /* Rounded corners */
   text-decoration: none; /* Remove underline from the link */
   transition: background-color 0.3s ease; /* Transition for the background color */
}

.quote-btn:hover {
   background-color: #0056b3; /* Darker shade on hover for visual feedback */
}

/* Responsive Styles */
@media (max-width: 600px) {
   .services {
      padding: 4.375rem 1rem 1rem; /* Use relative units */
   }

   .service-item {
      flex-direction: column;
      align-items: center;
   }

   .icon {
      margin: 0 0 1.25rem 0;
   }

   .service-item h2 {
      font-size: 1.5em;
   }

   .service-item p {
      font-size: 1.1em;
   }
}

/* Additional Media Queries for responsiveness */

@media (min-width: 601px) and (max-width: 1024px) {
   .service-item {
      flex-direction: row; /* Horizontal layout on tablets */
      justify-content: space-between;
      padding: 1.5rem;
      margin-bottom: 2rem;
   }

   .icon {
      margin-right: 1.5rem;
   }

   .service-item h2 {
      font-size: 1.6em;
   }

   .service-item p {
      font-size: 1.3em;
   }
}

@media (min-width: 1025px) {
   .services {
      padding: 2.5rem 2rem; /* Adjust padding for larger screens */
   }

   .service-item {
      flex-direction: row;
      justify-content: space-around;
      max-width: 70%; /* Limit max width for readability */
      margin-bottom: 2.5rem;
   }
}

/* Styling for dropdown content */
.dropdown-content {
   /* display: none; */ /* Remove this line to make the dropdown always visible */
   margin-top: 1rem;
   padding: 1rem;
   border-radius: 0 0 10px 10px;
   font-size: 1em;
   color: #777;
   /* transition: max-height 0.3s ease, opacity 0.3s ease; */ /* You can remove this if not needed */
}

.dropdown-content ul {
   list-style-type: none; /* No bullets needed */
   padding-left: 0; /* Align with the text */
}

.dropdown-content .price {
   margin-top: 1.5rem;
   font-weight: bold;
}
